<div class="container-select">
  <div class="functions btn btn-secondary btn-lg btn-block button_return">
    <img src="" alt="" class="playlist-icon" />
    <span class="funtion-title">mergear duas playlists</span>
    <img src="" alt="" class="playlist-icon" />
  </div>
  <div class="functions btn btn-secondary btn-lg btn-block button_return">
    <img src="" alt="" class="playlist-icon" />
    <span class="funtion-title">corrigir playlist</span>
    <img src="" alt="" class="playlist-icon" />
  </div>
  <div class="functions btn btn-secondary btn-lg btn-block button_return">
    <img src="" alt="" class="playlist-icon" />
    <span class="funtion-title">transport playlist</span>
    <img src="" alt="" class="playlist-icon" />
  </div>
  <div class="functions btn btn-secondary btn-lg btn-block button_return">
    <img src="" alt="" class="playlist-icon" />
    <span class="funtion-title">info</span>
    <img src="" alt="" class="playlist-icon" />
  </div>
</div>
